<a role="button" href="{{ url|raw }}"
   class="btn
   {% if type %}btn--{{ type }}{% endif %}
   {{ altClass }} {{ styleModifier }}"
        {% if data %} data-{{ key }}="{{ value }}"{% endif %}
        {% if search_id %}id="{{ search_id }}"{% endif %}
   title="{{ alt_text }}">

    {% if icon %}
        {% if before %}
            {% include "@atoms/_du-icon.twig" %}
        {% endif %}
    {% endif %} {{ title|raw }}
    {% if icon %}
        {% if not before %}
            {% include "@atoms/_du-icon.twig" %}
        {% endif %}
    {% endif %}
</a>
