<nav class="unit-nav-group {% if hide_hero %}no-hero{% endif %}">
    {% block alert %}
        {{ du_alert }}
    {% endblock %}

    <div data-sticky-container>
        <div id="top-bar-sticky-wrap" class="sticky" data-sticky data-top-anchor="1" data-sticky-on="small" data-margin-top="0">
            {# <div class="show-for-large"> #}
                {% block utility_nav %}
                    {% include "@molecules/unit-utility-nav.twig" %}
                {% endblock %}
            {# </div> #}
            {% include "@molecules/_unit-search-form.twig" %}
            {% if du_elevate_display_enabled %}
                {% include "@molecules/_unit-elevate-cart.twig" %}
            {% endif %}
            {% block utility_flyouts %}
                {% include "@molecules/_unit-sites-list.twig" with { "site_links": site_links } %}
                {% include "@molecules/_unit-resources.twig" with { "resource_links": resource_links } %}
                {% include "@molecules/_unit-generic-flyout.twig" with { "flyout_id": "apply-flyout" } %}
            {% endblock %}

            <div class="top-bar">
                <nav id="main-menu-wrap">
                    <div class="row expanded">
                        <div class="columns shrink">
                            {% if image_logo is empty %}
                                <a href="{{ logo_url }}" class="logo">
                                {% if site_prefix == 'The Robert & Judi' %}
                                    <div class="site-logo newman-center-logo">
                                        <img src="/themes/custom/pl_drupal/images/NCPA-small-2.png" alt="Newman Center Presents">
                                    </div>
                                {% else %}
                                    <div class="site-logo">
                                        <img src="/themes/custom/pl_drupal/images/svg/university-of-denver-du-logo-unit.svg" width="80" alt="University of Denver">
                                    </div>
                                    <div class="site-identity">
                                        <span class="site-prefix">{{ site_prefix }}</span>
                                        <span class="site-name">{{ site_name }}</span>
                                    </div>
                                {% endif %}
                                </a>
                            {% else %}
                                <a href="{{ logo_url }}" class="logo image">
                                    {{ image_logo }}
                                </a>
                            {% endif %}
                        </div>
                        <div class="columns">
                            <div id="main-menu" aria-expanded="false">
                                <div class="main-menu-contents">
                                    {% block mega_nav %}
                                        {% include "@molecules/mega-nav.twig" %}
                                    {% endblock %}

                                    {# <div class="mobile-utility-wrapper hide-for-large">
                                        {% block utility_nav_sm %}
                                            {% include "@molecules/unit-utility-nav.twig" %}
                                        {% endblock %}
                                    </div> #}
                                </div>
                            </div>
                        </div>

                        <div class="columns shrink">
                            {% if menu_item_count > 0 %}
                            {# temporary fix for liberal arts only. #}
                            {% set current_url = url('<current>')|render|render %}
                                <div id="unit-main-menu-toggler" class="align-right hide-for-large {% if 'about/people/' in current_url %}display-none-toggle{% endif %}" >
                                    <button class="icon-du-cust-menu" type="button" aria-controls="main-menu">
                                        <span class="show-for-sr">Toggle Menu</span></button>
                                </div>
                            {% endif %}
                        </div>
                        {% if du_elevate_display_enabled %}
                            <div class="cart-item">
                                <a href="#utility-elevate-cart-popup" class="unit-utility-menu__cart-button" role="button" aria-controls="#utility-elevate-cart-popup">
                                    <span class="toggle-icon"><span class="icon-du-basket " aria-hidden="true"></span></span>
                                    <span class="toggle-label">Cart</span>
                                    <span class="items-in-cart" style="display: inline;">1</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>
    </div>
</nav>
<header class="unit-header {% if hide_hero %}no-hero{% endif %}{% if hero_class == "content-card" %}content-card{% endif %}" role="banner">
    {% if (hero_embed is not empty) and (hide_hero) %}
        <div class="hero-media hero-image-empty hero-embed-wrapper">
            <div class="hero-embed">{{ hero_embed|raw }}</div>
        </div>
    {% endif %}
    {% if not hide_hero %}
        {% include "@organisms/hero-media-unit.twig" %}
    {% endif %}
</header>
