<div class="row scholarship-filter">
  <div class="column small-10 medium-10 large-10 align-center">

    <div class="row">
      <div class="column">
        <!-- Search Filtering Section -->
        <div class="row scholarship-filter-search align-center">
          <div class="columns small-12 medium-10 large-12 search-box">
            {{ form.combine }}
            <button class="search-submit" type="button" title="Submit Search">
              <span class="icon-du-cust-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <!-- Selection Filtering Section -->
        <div class="row scholarship-filter-dropdown">
          <div class="column small-12 medium-12 large-12 align-center">
            <div class="row">
              <div class="column small-12 medium-6 large-6">
                {{ form.field_scholarship_kind_value }}
                {{ form.field_scholarship_minimum_gpa_value }}
                {{ form.field_scholarship_home_state_target_id }}
                {{ form.field_scholarship_population_value }}
              </div>
              <div class="column small-12 medium-6 large-6">
                {{ form.field_scholarship_class_level_value }}
                {{ form.field_scholarship_school_target_id }}
                {{ form.field_scholarship_major_target_id }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12 medium-12 large-4 scholarship-filter-submit align-center" id="FormSubmit">
        {{ form.actions }}
      </div>
    </div>

  </div>
</div>
