<div class="contact-single-module contact-single-module--{{ contact.color_theme }} buffer-on-inner-row" data-equalizer="contact-single-module__content" data-equalize-on="medium">
    <div class="row medium-unstack">
        <div class="contact-single-module_overlay contact-single-module_overlay--{{ contact.color_theme }} columns large-4 show-for-large" style="background-image: url('{{ contact.img_url }}')">
            <div class="contact-single-module__content" data-equalizer-watch="contact-single-module__content">&nbsp;</div>
        </div>
        <div class="columns small-12 medium-6 large-4">
            <div class="contact-single-module__content" data-equalizer-watch="contact-single-module__content">
                <h3 class="btm-divider">Contact the {{ contact.title }}</h3>

                <div class="hide-for-small-only">
                    <h6>Follow the {{ contact.title }}</h6>

                    <ul class="menu social-media">
                        {% if contact.social %}
                            {% if contact.social.facebook %}
                                <li>
                                    <a href="{{ contact.facebook }}">
                                        <span class="icon-du-facebook" aria-hidden="true"></span>
                                        <span class="show-for-sr">Facebook"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.social.twitter %}
                                <li>
                                    <a href="{{ contact.twitter }}">
                                        <span class="icon-du-twitter" aria-hidden="true"></span>
                                        <span class="show-for-sr">Twitter"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.social.instagram %}
                                <li>
                                    <a href="{{ contact.instagram }}">
                                        <span class="icon-du-instagram" aria-hidden="true"></span>
                                        <span class="show-for-sr">Instagram"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.social.linkedin %}
                                <li>
                                    <a href="{{ contact.linkedin }}">
                                        <span class="icon-du-linkedin" aria-hidden="true"></span>
                                        <span class="show-for-sr">LinkedIn"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.social.snapchat %}
                                <li>
                                    <a href="{{ contact.snapchat }}">
                                        <span class="icon-du-snapchat" aria-hidden="true"></span>
                                        <span class="show-for-sr">SnapChat"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.social.youtube %}
                                <li>
                                    <a href="{{ contact.youtube }}">
                                        <span class="icon-du-youtube" aria-hidden="true"></span>
                                        <span class="show-for-sr">YouTube"</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns small-12 medium-6 large-4">
            <div class="contact-single-module__content" data-equalizer-watch="contact-single-module__content">
                <ul class="contact-list">
                    {% if contact.email %}
                        <li>
                            <div class="contact-list__media"><span class="icon-du-mail-alt" aria-hidden="true"></span>
                            </div>
                            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
                    {% endif %}
                    {% if contact.phone %}
                        <li class="show-for-small-only">
                            <div class="contact-list__media"><span class="icon-du-phone" aria-hidden="true"></span>
                            </div>
                            <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></li>
                        <li class="hide-for-small-only non-link">
                            <div class="contact-list__media"><span class="icon-du-phone" aria-hidden="true"></span>
                            </div> {{ contact.phone }}</li>
                    {% endif %}
                    {% if contact.fax %}
                        <li class="show-for-small-only">
                            <div class="contact-list__media"><span class="icon-du-fax" aria-hidden="true"></span></div>
                            <a href="fax:{{ contact.fax }}">{{ contact.fax }}</a></li>
                        <li class="hide-for-small-only non-link">
                            <div class="contact-list__media"><span class="icon-du-fax" aria-hidden="true"></span>
                            </div> {{ contact.fax }}</li>
                    {% endif %}
                    {% if contact.url %}
                        <li>
                            <div class="contact-list__media">
                                <span class="icon-du-link-ext-alt" aria-hidden="true"></span></div>
                            <a href="{{ contact.url }}">{{ contact.url }}</a></li>
                    {% endif %}
                    {% if contact.building %}
                        <li>
                            <div class="contact-list__media"><span class="icon-du-location" aria-hidden="true"></span>
                            </div>
                            {% if contact.address %}
                                {% if contact.address.address1 %}
                                    <a href="https://www.google.com/maps/place/{{ contact.address.address1 }}+{{ contact.address.city }}+{{ contact.address.state }}+{{ contact.address.postalcode }}" target="_blank">
                                        {{ contact.building.name }}
                                        <br/>{{ contact.address.address1 }}
                                        <br/>{{ contact.address.city }}, {{ contact.address.state }} {{ contact.address.postalcode }}</a>
                                {% endif %}
                                {% if not contact.address1 %}
                                    {{ contact.building.name }}
                                {% endif %}
                            {% endif %}
                            {% if not contact.address %}
                                {{ contact.building.name }}
                            {% endif %}
                        </li>
                    {% endif %}
                    <li>
                        <div class="contact-list__media"><span class="icon-du-clock" aria-hidden="true"></span></div>
                        {% for hours_item in contact.hours %}
                            {{ hours_item.text }}<br/>
                        {% endfor %}
                    </li>
                </ul>
                <div class="show-for-small-only">
                    <h6>Follow the {{ contact.title }}</h6>

                    <ul class="menu social-media">
                        {% if contact.social %}
                            {% if contact.facebook %}
                                <li>
                                    <a href="{{ contact.facebook }}">
                                        <span class="icon-du-facebook" aria-hidden="true"></span>
                                        <span class="show-for-sr">Facebook"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.twitter %}
                                <li>
                                    <a href="{{ contact.twitter }}">
                                        <span class="icon-du-twitter" aria-hidden="true"></span>
                                        <span class="show-for-sr">Twitter"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.instagram %}
                                <li>
                                    <a href="{{ contact.instagram }}">
                                        <span class="icon-du-instagram" aria-hidden="true"></span>
                                        <span class="show-for-sr">Instagram"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.linkedin %}
                                <li>
                                    <a href="{{ contact.linkedin }}">
                                        <span class="icon-du-linkedin" aria-hidden="true"></span>
                                        <span class="show-for-sr">LinkedIn"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.snapchat %}
                                <li>
                                    <a href="{{ contact.snapchat }}">
                                        <span class="icon-du-snapchat" aria-hidden="true"></span>
                                        <span class="show-for-sr">SnapChat"</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if contact.youtube %}
                                <li>
                                    <a href="{{ contact.youtube }}">
                                        <span class="icon-du-youtube" aria-hidden="true"></span>
                                        <span class="show-for-sr">YouTube"</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>