<a role="button" href="{{ url|raw }}"
   class="btn
   {% if type %}btn--{{ type }}{% endif %}
   {{ altClass }} {{ styleModifier }}"
        {% if data|length > 0 %}
            data-{{ data.key }}="{{ data.value }}"
        {% endif %}
        {% if search_id %}id="{{ search_id }}"{% endif %}
   title="{{ alt_text|e('html_attr') }}"
        {% if target %}target="{{ target|e('html_attr') }}"{% endif %}
        {% if onclick %}onclick="{{ onclick|e('html_attr') }}"{% endif %}
        {% if datatoggle %}data-toggle="{{ datatoggle|e('html_attr') }}"{% endif %}
        {% if target %}target="{{ res_target }}"{% endif %}
>

        {% if icon is iterable %}
            {% if icon.before %}
                {% include "@atoms/_du-icon.twig" with icon only %}
            {% endif %}
        {% endif %} {{ title|raw }}
        {% if icon is iterable %}
            {% if not icon.before %}
                {% include "@atoms/_du-icon.twig" with icon only %}
            {% endif %}
        {% endif %}
</a>

