<div class="icon-list__media">
    {% if image %}
        {{ image }}
    {% endif %}
    {% if icon %}
        {{ icon }}
    {% endif %}
</div>
{% if title %}
    <p><h5>{{ title }}</h5></p>
{% endif %}
{% if description %}
    {{ description }}
{% endif %}
{% if link %}
    <p>{{ link }}</p>
{% endif %}