{% if list.type %}
	<{{ list.type }}{% if list.styleModifier %} class="{{ list.styleModifier }}"{% endif %}>
{% endif %}
{% if not list.type %}
	<ul{% if list.styleModifier %} class="{{ list.styleModifier }}"{% endif %} >
{% endif %}
	{% for item in list.items %}
		<li{% if search_filter_on %} class="search-filter-on"{% endif %}>
			{{ item.title|raw }}
		</li>
	{% endfor %}
{% if list.type %}
	</{{ list.type }}>
{% endif %}
{% if not list.type %}
	</ul>
{% endif %}
