<div class="admission-steps">
    <div class="row">
        <div class="columns small-12 large-8 large-offset-4">
            {% if h2 %}
                {% include "@atoms/headline.twig" with h2 %}
            {% endif %}
        </div>
    </div>
    <div class="admission-steps__nav row align-middle" data-tabs="data-tabs" id="example-tabs">
        {% for nav_item in steps_nav_items %}
            <div class="columns tabs-title small-12 medium-4{% if item.first %} large-offset-2 is-active{% endif %}{% if not nav_item.last_step %} large-3{% endif %}{% if nav_item.last_step %} large-2{% endif %}">
                <a href="#{{ nav_item.steps_id }}" aria-selected="true">
                    <span class="admission-steps__circle">{{ nav_item.step_number }}</span> {{ nav_item.title|raw }}
                </a>
            </div>
        {% endfor %}
        <div class="columns medium-2 show-for-large">
            <a href="javascript:window.print();" class="admission-steps__print">Print Steps</a></div>
    </div>
    <div class="tabs-content" data-tabs-content="example-tabs">
        {% for item in steps_content %}
            <div class="tabs-panel{% if item.is_active %} is-active{% endif %}" id="{{ item.steps_content_id }}">
                {% if item.print_section_title %}
                    <h3 class="admission-steps__section-name show-for-sr">{{ title }}</h3>
                {% endif %}
                <div class="row collapse">
                    <div class="large-3 columns show-for-large">
                        <ul class="tabs vertical" id="example-vert-tabs" data-tabs="data-tabs">
                            {% for sub_item in item.sub_nav_items %}
                                <li class="tabs-title{% if sub_item.sub_nav_is_active %} is-active{% endif %}">
                                    <a href="#{{ sub_item.sub_steps_panel_id }}" aria-selected="true">{{ sub_item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="small-12 large-9 columns">
                        <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
                            {% for panel in item.sub_steps_panels %}
                                {% if panel.panel_toggle %}
                                    <p class="sub-step-content__toggle hide-for-large" data-tabs="data-tabs">
                                        <a data-toggle="{{ sub_steps_panel_id }}" aria-selected="true">{{ panel.title }}</a>
                                    </p>
                                {% endif %}
                                <div class="tabs-panel sub-step-content{% if panel.sub_panel_is_active %} is-active{% endif %}" id="{{ panel.sub_steps_panel_id }}" data-toggler=".is-active">
                                    {% if panel.headline %}
                                        {% include "@atoms/headline.twig" with panel.headline %}
                                    {% endif %}
                                    {% for paragraph in panel.paragraphs %}
                                        {% include "@atoms/paragraph.twig" with paragraph %}
                                    {% endfor %}
                       {#             {% for list in panel.list %}
                                        {% include "@atoms/list.twig"  %}
                                    {% endif %}#}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>