{% if API_enabled %}
<?
    
    @require_once($_SERVER['DOCUMENT_ROOT'] . '/_duresources/foundation/php/ClassLoader.php');

    $contacts = new DU\API\Modules\Contact({{ contact_id }});
    $data = $contacts->GetData();
    //print "<pre><br/>";
    //print_r($data);
    //print "</pre>";

    $contact = $data[0];

?>
{% endif %}

{% if three_col_header %}
    <div class="row">
        <div class="columns small-12">
            {% include "@atoms/headline.twig" %}
        </div>
    </div>
{% endif %}
{% if not API_enabled %}
    {% include "@molecules/contact-single.twig" %}
{% endif %}

{% if API_enabled %}
  <div class="contact-single-module contact-single-module--{{ color_theme }} buffer-on-inner-row" data-equalizer="contact-single-module__content" data-equalize-on="medium">
    <div class="row medium-unstack">
      <div class="contact-single-module_overlay contact-single-module_overlay--{{ color_theme }} columns large-4 show-for-large" style="background-image: url('{{ img_url }}')">
        <div class="contact-single-module__content" data-equalizer-watch="contact-single-module__content">&nbsp;</div>
      </div>
      <div class="columns small-12 medium-6 large-4">
        <div class="contact-single-module__content" data-equalizer-watch="contact-single-module__content">
          <h3 class="btm-divider">Contact the <?=$contact["title"];?></h3>
          <? if($contact["socialMedia"]) { ?>
            <div class="hide-for-small-only">
              <h6>Follow the <?=$contact["title"];?></h6>

              <ul class="menu social-media">
                {% if social %}
                  {% if facebook %}
                    <li>
                      <a href="{{ facebook }}">
                        <span class="icon-du-facebook" aria-hidden="true"></span>
                        <span class="show-for-sr">Facebook"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if twitter %}
                    <li>
                      <a href="{{ twitter }}">
                        <span class="icon-du-twitter" aria-hidden="true"></span>
                        <span class="show-for-sr">Twitter"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if instagram %}
                    <li>
                      <a href="{{ instagram }}">
                        <span class="icon-du-instagram" aria-hidden="true"></span>
                        <span class="show-for-sr">Instagram"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if linkedin %}
                    <li>
                      <a href="{{ linkedin }}">
                        <span class="icon-du-linkedin" aria-hidden="true"></span>
                        <span class="show-for-sr">LinkedIn"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if snapchat %}
                    <li>
                      <a href="{{ snapchat }}">
                        <span class="icon-du-snapchat" aria-hidden="true"></span>
                        <span class="show-for-sr">SnapChat"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if youtube %}
                    <li>
                      <a href="{{ youtube }}">
                        <span class="icon-du-youtube" aria-hidden="true"></span>
                        <span class="show-for-sr">YouTube"</span>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            </div>
          <? } ?>
        </div>
      </div>
      <div class="columns small-12 medium-6 large-4">
        <div class="contact-single-module__content" data-equalizer-watch="contact-single-module__content">
          <ul class="contact-list">
            <? if($contact["email"]) { ?>
              <li><div class="contact-list__media"><span class="icon-du-mail-alt" aria-hidden="true"></span></div> <a href="mailto:<?=$contact['email'];?>"><?=$contact["email"];?></a></li>
            <? } ?>
            <? if($contact["phone"]) { ?>
              <li class="show-for-small-only"><div class="contact-list__media"><span class="icon-du-phone" aria-hidden="true"></span></div> <a href="tel:<?=$contact['phone'];?>"><?=$contact["phone"];?></a></li>
              <li class="hide-for-small-only non-link"><div class="contact-list__media"><span class="icon-du-phone" aria-hidden="true"></span></div> <?=$contact["phone"];?></li>
            <? } ?>
            <? if($contact["fax"]) { ?>
              <li class="show-for-small-only"><div class="contact-list__media"><span class="icon-du-fax" aria-hidden="true"></span></div> <a href="<?=$contact['fax'];?>"><?=$contact["fax"];?></a></li>
              <li class="hide-for-small-only non-link"><div class="contact-list__media"><span class="icon-du-fax" aria-hidden="true"></span></div> <?=$contact["fax"];?></li>
            <? } ?>
            <? if($contact["url"]) { ?>
              <li><div class="contact-list__media"><span class="icon-du-link-ext-alt" aria-hidden="true"></span></div> <a href="<?=$contact['url'];?>"><?=$contact["url"];?></a></li>
            <? } ?>
            <? if($contact["address"]) { ?>
              <li><div class="contact-list__media"><span class="icon-du-location" aria-hidden="true"></span></div> 
                <a href="https://www.google.com/maps/place/<?=$contact['address'].'+'.$contact['city'].'+'.$contact['state'].'+'.$contact['zip'];?>" target="_blank"><?=$contact["address"].'<br/>'.$contact["city"].', '.$contact["state"].' '.$contact["zip"];?></a>
              </li>
            <? } ?>
            <? if($contact["hours"]) { ?>
            <li><div class="contact-list__media"><span class="icon-du-clock" aria-hidden="true"></span></div> 
              <?=$contact["hours"];?>
            </li>
            <? } ?>
          </ul>
          <? if($contact["socialMedia"]) { ?>
            <div class="show-for-small-only">
              <h6>Follow the <?=$contact["title"];?></h6>

              <ul class="menu social-media">
                {% if social %}
                  {% if facebook %}
                    <li>
                      <a href="{{ facebook }}">
                        <span class="icon-du-facebook" aria-hidden="true"></span>
                        <span class="show-for-sr">Facebook"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if twitter %}
                    <li>
                      <a href="{{ twitter }}">
                        <span class="icon-du-twitter" aria-hidden="true"></span>
                        <span class="show-for-sr">Twitter"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if instagram %}
                    <li>
                      <a href="{{ instagram }}">
                        <span class="icon-du-instagram" aria-hidden="true"></span>
                        <span class="show-for-sr">Instagram"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if linkedin %}
                    <li>
                      <a href="{{ linkedin }}">
                        <span class="icon-du-linkedin" aria-hidden="true"></span>
                        <span class="show-for-sr">LinkedIn"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if snapchat %}
                    <li>
                      <a href="{{ snapchat }}">
                        <span class="icon-du-snapchat" aria-hidden="true"></span>
                        <span class="show-for-sr">SnapChat"</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if youtube %}
                    <li>
                      <a href="{{ youtube }}">
                        <span class="icon-du-youtube" aria-hidden="true"></span>
                        <span class="show-for-sr">YouTube"</span>
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            </div>
          <? } ?>
        </div>
      </div>
    </div>
  </div>
{% endif %}
