{% if API_enabled %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

 
<?
    
    @require_once($_SERVER['DOCUMENT_ROOT'] . '/_duresources/foundation/php/ClassLoader.php');

    $events = new DU\API\Modules\Events((array_key_exists("start_date", $_GET) ? $_GET["start_date"] : false),(array_key_exists("end_date", $_GET) ? $_GET["end_date"] : false),(array_key_exists("tags", $_GET) ? $_GET["tags"] : false));
    //var_dump($events);
    $data = $events->getData();
    $selStartDate = $_GET["start_date"];
    //var_dump($selStartDate);
    $selStartDate = DateTime::createFromFormat('Y-n-j', $selStartDate);
    //var_dump($selStartDate);
    $selEndDate = $_GET["end_date"];
    $selEndDate = DateTime::createFromFormat('Y-n-j', $selEndDate);
    


    if ($events->hasError()) {
    
    	?><h2>There was an error.</h2><?

    }else{
      $listMonth = $data["startDateObj"]->format("Y-m-01") ?? null;
    }

?>
{% endif %}
<div class="events-listing__wrapper buffer-on-inner-row">
	<div class="row events-listing__nav">

                     <div class="small-12 medium-7 large-8 columns">
                        <div class="event-filter-dropdown-holder">
                           <div class="small-12 medium-10 large-10 columns">
                                <strong>Some audience question?</strong>
                                <form class="audience-filter button-group" data-filter-group="audience">
                                  <label class="show-for-sr">All university audiences</label>
                                    <select class="filters-select">
                                        <option value="*">Show All</option>
                                        <option value=".staff">Staff</option>
                                        <option value=".faculty">Faculty</option>
                                        <option value=".prospective-student">Prospective Students</option>
                                        <option value=".current-student">Current Students</option>
                                        <option value=".alumni">Alumni</option>
                                        <option value=".community">Neighbors and Friends</option>
                                        <option value=".family">Families</option>
                                        <option value=".conference">Conference and Event Attendees</option>
                                    </select>
                                </form>
                            </div>
                            <div class="small-12 medium-10 large-10 columns theme-filter">
                                <strong>Some thematic question?</strong>
                                <form class="button-group" data-filter-group="events">
                                  <label class="show-for-sr">All university events</label>
                                    <select class="filters-select">
                                        <option value="*">All Event Types</option>
                                        <option value=".perf-arts">Performing Arts</option>
                                        <option value=".athletics">Athletics</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
              
              
                    <div class="small-12 medium-5 large-4 columns " id="calendar-list">
                    <h4 class="hide-for-small-only">Other Calendars</h4>
                      <ul class="row hide-for-small-only">
                        <li class="small-6 medium-5 columns "><span class="icon-du-link-ext-alt"></span><a class="calendar-link">Test</a></li>
                        <li class="small-6 medium-5 columns"><span class="icon-du-link-ext-alt"></span><a class="calendar-link">Test2</a></li>
                        <li class="small-6 medium-5 columns"><span class="icon-du-link-ext-alt"></span><a class="calendar-link">Test</a></li>
                        <li class="small-6 medium-5 columns"><span class="icon-du-link-ext-alt"></span><a class="calendar-link">Test4</a></li>
                      </ul>
                   </div>
            
                
                <div class="small-12 medium-6 columns">
                    <div class="columns order-1 medium-order-2 expand row month-range">
                        {% if not API_enabled %}
                            {% if calendar_month %}
                                {% include "@atoms/headline.twig" %}
                            {% endif %}
                        {% endif %}{% if API_enabled %}
                            <? if (!$events->hasError()) { ?>
                                <div class="small-12 medium-6 large-6 columns"><h2><?=$data["startDateObj"]->format("F ");?></h2></div>
                            <? } ?>
                        {% endif %}
                    </div>
                    <div class="columns order-2 medium-order-1 shrink .active-filter" id="byMonth">
                        {% if events_listing_nav_items %}
                            <a href="{{ url|raw }}">{% include "@atoms/_du-icon.twig" %}<span class="show-for-sr.twig">{{ assistive_text }}</span></a>
                        {% endif %}
                    </div>
                </div>
                <div class="small-12 medium-6 columns row" id="byDate">
                    <div class="small-6 medium-6 columns" id="datepickerImageStart"><img src='someimage.gif'/><h2>
                        <? if($selStartDate!=null){?>
                          <? print_r($selStartDate->format("F j")); ?>
                          
                        <?} else{ ?>
                            Start Date<?
                        }?>
                            
                    </h2>
    <div id="datepicker-start"></div></div>
                    <div class="small-6 medium-6  columns" id="datepickerImageEnd"><img src='someimage.gif'/><h2>
                       <? if($selEndDate!=null){?>
                          <? print_r($selEndDate->format("F j")); ?>
                          
                        <?} else{ ?>
                            End Date<?
                        }?>
                    </h2>
    <div id="datepicker-end"></div></div>
                </div>
            </div>
        </div>

</div>
    
	<div id="events-listing" class="events-listing row">
		{% if not API_enabled %}
			{% if events %}
				<div class="columns small-6 medium-4 large-3 events-item__wrapper{% if data_category %} {{ data_category }}{% endif %}">
					<a href="#" class="events-listing__item">
						<p>{{ date }}</p>
						{% if headline %}
							{% include "@atoms/headline.twig" %}
						{% endif %}
						{% if details %}
							<p>{% include "@atoms/_du-icon.twig" %} {{ detail }}</p>
						{% endif %}
						<p class="btn">View Details</p>
					</a>
				</div>
			{% endif %}
		{% endif %}{% if API_enabled %}
			<?
				if (!$events->hasError()) {
					
					$tz = new \DateTimeZone("America/Denver");

					if (!array_key_exists("eventData", $data) || !is_array($data["eventData"]) || count($data["eventData"]) == 0) {
			?>
				<div class="columns small-12 medium-6 large-4">
					<p>No events were found for this month.</p>
				</div>
			<?
					} else {
						foreach ($data["eventData"] as $event) {
			?>
				{% if events %}
					<div class="columns event-item">
						<a href="{{ link.pages_events_detail_PHP_API }}{% if API_enabled %}?id=<?=$event['id'];?> {% endif %}" {% if API_enabled %}data-filter-date="<?=$listMonth;?>" data-filter-tags=<?=$event['tags'];?>,<?=$event['autoTags'];?>{% endif %} class="events-listing__item">
							<?
								foreach ($event["eventTimes"] as $eventTime) {

									$startDate = date_create_from_format("Y-m-d H:i:s", $eventTime["startDate"], $tz);
									$endDate = date_create_from_format("Y-m-d H:i:s", $eventTime["endDate"], $tz);

									$formattedStartDate = $startDate->format("F j");
									$formattedEndDate = $endDate->format("F j");
									$formattedStartTime = $startDate->format("g:ia");
									$formattedEndTime = $endDate->format("g:ia");

									if ($formattedEndTime == $formattedStartTime) {
										$formattedEndTime = "";
									}
							?>
							<p><?=$formattedStartDate;?><? if ($formattedEndDate != $formattedStartDate) { ?> - <?=$formattedEndDate;?><? } ?></p>
							<?
								}
							?>
							{% if headline %}
								{% include "@atoms/headline.twig" %}
							{% endif %}
							{% if not API_enabled %}
								{% if details %}
									<p>{% include "@atoms/_du-icon.twig" %} {{ detail }}</p>
								{% endif %}
							{% endif %}{% if API_enabled %}
								<? 	if ($formattedStartTime != "12:00am" && $formattedEndTime != "") { ?>
					                	<p><span class="icon-du-clock" aria-hidden="true"></span>
					                	<?=$startDate->format("g:ia");?><? if ($formattedEndTime != "") { ?> - <?=$formattedEndTime;?><? } ?></p>
				                <?
				                	}
				                  	if ($event["location"]) { ?>
										<p><span class="icon-du-location" aria-hidden="true"></span><?=$event["location"];?></p>
	              				<?
	              					}
	              				?>
							{% endif %}

							<p class="btn">View Details</p>
						</a>
					</div>
				{% endif %}
			<?
						}
					}
				}
			?>
		{% endif %}
	</div>
    <div class="row events-listing__no-events">
        <div class="columns small-12">
            <p>No events were found.</p>
        </div>
    </div>
</div>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>