<div class="quick-fact-module__content {% if statistic %} statistic {% endif %}">
    {% if item.url is not empty %}<a href="{{ item.url }}" title="{{ item.alt_text }}" target="{{ item.target }}">{% endif %}
        <h3>
    {% if statistic %}
            <strong>{{ statistic }}</strong>
    {% endif %}
            {% if headline %}
            <span class="headline">{{ headline }}</span>
            {% endif %}
            {% if caption %}
            <span class="caption">{{ caption }}</span>
            {% endif %}
            {% if citation %}
            <span class="citation">{{ citation }}</span>
            {% endif %}
        </h3>
    {% if item.url is not empty %}</a>{% endif %}
</div>