<div class="slick-slide{% if slide_item.is_active %} is-active{% endif %}">
    <div class="wrapper">
        <div class="top">
            {% block image %}
                {% include "@atoms/image.twig" with image %}
            {% endblock %}
            {% if button %}
                <a href="{{ button.url }}" target="{{ button.target }}" title="{{ button.alt_text }}">
                    <span class="icon-du-right-open"></span>
                </a>
            {% endif %}
        </div>
        <div class="bottom">
            {% if date %}
                {% set date_split = date|render|striptags|trim|split(' ', 2) %}
                <p class="featured-events__date">
                    <span class="first">{{ attribute(date_split, 0) }}</span>
                    <span class="second">{{ attribute(date_split, 1) }}</span>
                </p>
            {% endif %}
            <div class="featured-events__content">
                {% if title %}
                    {% include "@atoms/headline.twig" with { "headline": title, "type": "h6" } %}
                {% endif %}
                {% if details|length > 0 %}
                    <div class="featured-events__details">
                        {% include "@atoms/_du-icon.twig" with {"icon_name" : "location"} %}<span>{{ details|join(' / ') }}</span>
                    </div>
                {% endif %}
                {% block paragraph %}
                    {% include "@atoms/paragraph.twig" with { "text": text } %}
                {% endblock %}
                {% if button %}
                    {% include "@atoms/button.twig" with button %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
