<div class="columns fc-item">
	<div class="course-info-card__holder">

		<div class="course-info-card__content">

			<span class="icon-du-minus"> </span>
			<span class="icon-du-plus"> </span>

			<p class="course-code-number">{{ subject_code }} {{ course_number }}</p>
			<div class="course-info-card__course-title">
				<h2 class="course-title">
					{{ title }}
				</h2>
			</div>
		</div>
		<!-- flyout-->
		<div class="featured-course-flyout">
			<div class="flyout-content__holder row">
				<div class="columns small-12 {{ additional_info_col_css }}">
					<div class="more-description">
						{% include "@atoms/headline.twig" with {'title': 'About this Course', 'type': 'h3', 'cssClass':''} %}
						{{ course_desc }}
					</div>
				</div>

				{% if additional_info_col_css %}
				<div class="columns small-12 medium-4 course-info__rightside">

					<div class="row">
						<div class="columns {% if course_info_2.title is not empty %}show-right-border{% endif %}">
							<div class="course-info__rightside--has-icons">
								{% include "@atoms/headline.twig" with {'title' : course_info_1.title,  'type' : 'h4'} %}
								<div class="img-wrapper" {% if course_info_1.image %} style="background-image: url('{{ course_info_1.image }}')" {% endif %}>
									<div class="info-text">{% include "@atoms/headline.twig" with {'title' : course_info_1.text,  'type' : 'h2', "cssClass": "other-info-color"} %}</div>
								</div>
							</div>
						</div>

						{% if course_info_2.title is not empty %}
						<div class="columns {% if course_info_3.title is not empty %}{% endif %}">
							<div class="course-info__rightside--has-icons">
								{% include "@atoms/headline.twig" with {'title' : course_info_2.title,  'type' : 'h4'} %}
								<div class="img-wrapper" {% if course_info_2.image %} style="background-image: url('{{ course_info_2.image }}')" {% endif %}>
									<div class="info-text">{% include "@atoms/headline.twig" with {'title' : course_info_2.text,  'type' : 'h2', "cssClass": "other-info-color"} %}</div>
								</div>
							</div>
						</div>
						{% endif %}

						{% if course_info_3.title is not empty %}
						<div class="columns {% if course_info_4.title is not empty %}show-top-right-border{% else %}show-top-border{% endif %}">
							<div class="course-info__rightside--has-icons">
								{% include "@atoms/headline.twig" with {'title' : course_info_3.title,  'type' : 'h4'} %}
								<div class="img-wrapper" {% if course_info_3.image %} style="background-image: url('{{ course_info_3.image }}')" {% endif %}>
									<div class="info-text">{% include "@atoms/headline.twig" with {'title' : course_info_3.text,  'type' : 'h2', "cssClass": "other-info-color"} %}</div>
								</div>
							</div>
						</div>
						{% endif %}

						{% if course_info_4.title is not empty %}
						<div class="columns show-top-border">
							<div class="course-info__rightside--has-icons">
								{% include "@atoms/headline.twig" with {'title' : course_info_4.title,  'type' : 'h4'} %}
								<div class="img-wrapper" {% if course_info_4.image %} style="background-image: url('{{ course_info_4.image }}')" {% endif %}>
									<div class="info-text">{% include "@atoms/headline.twig" with {'title' : course_info_4.text,  'type' : 'h2', "cssClass": "other-info-color"} %}</div>
								</div>
							</div>
						</div>
						{% endif %}
					</div>

				</div>
				{% endif %}

			</div>
		</div>

	</div>
</div>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Course",
  "name": "{{ title }}",
  "description": "{{ schema_course_desc }}",
  "provider": {
    "@type": "Organization",
    "name": "University of Denver",
    "sameAs": "https://www.du.edu/"
  }
}
</script>

