<div class="columns large-12">
  <article class="article profile-list teaser">
    <div class="row">
      <div class="columns profile-list-image small-3 medium-4 large-3">
        {{ photo }}
      </div>
      <div class="columns profile-list-info small-9 medium-8 large-9">
        <h5>
          {{ full_name }}
        </h5>
        <div class="job-title">
          {% if job_title %}
              <p>{{ job_title|raw }}</p>
          {% endif %}

          {% if additional_title %}
              <p>{{ additional_title }}</p>
          {% endif %}
        </div>
        <div class="appointment">{{ appointment }}</div>
        {% if email %}
          <p>
            <span class="icon-du-mail-alt"></span>
            <a href="mailto:{{ email }}" title="Contact via Email">{{ email }}</a>
          </p>
        {% endif %}
        {% if phone_primary %}
          <p>
            <span class="icon-du-phone"></span>
            <a href="tel:{{ phone_primary }}">{{ phone_primary }}</a>
              {% if phone_prim %}
                <span class="phone-desc">({{ phone_prim }})</span>
              {% endif %}
          </p>
        {% endif %}
        {# checks to see if they have a scheduler link by seeing if length is not 0 #}
        {# twig debug is adding to the length so locally it is 233 characters #}
        {% if personal_website|length != 0 %}
            <span class="external-link-icon icon-du-link-ext-alt"></span>{{ personal_website }}
        {% endif %}
      </div>
    </div>
  </article>
</div>
